@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic.otf');
}

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

$navbar-active-link-color: #dcc08e;
$global-backround-color: #323232; 
$navbar-default-link-color: white;

body {
    background-color: $global-backround-color;
}

header {
  height: 150px;
}

button {
    outline-style: none !important;
}

label {
  margin:0;
}

a {
  outline: 0;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.logo-holder{
  position: relative;
  left:18px;
  top:5px;
}

.navbar {
  margin: none;
  padding: none;
  margin-left:12px;
  height: 50px;
  background-color: transparent;
}

.nav-link-active {
  color: $navbar-active-link-color !important;
}

.nav-link {
  font-family: "LeagueGothic","Helvetica Neue","Helvetica","Sans Serif";
  color: $navbar-default-link-color !important;
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
  font-size: 24px;
    &:hover {
      color: $navbar-active-link-color !important;
    }
}

.nav-link-active {
  color: $navbar-active-link-color !important;
}

.navbar-toggler{
   border-color:$navbar-active-link-color !important;
   span{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 192, 142, 01)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
   }
}

@media (max-width: 980px) {
    .navbar{
        position: absolute;
        top:20px;
        right:0;
    }
}

@media (max-width: 800px) {

}

@media (max-width: 660px) {

}

@media (max-width: 375px) {

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {
  
}