<div class="row justify-content-center no-gutters footer-container">
   <div class="col- footer">
      <h3 class="footer-header">RECENT POSTS</h3>
      <div class="footer-content-container">
         <div><span class="footer-arrows">»</span><span class="footer-content">Fusce suscipit sapien sit amet</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Sapien placerat ultrices vivamus sed</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Massa ac metus gravida dignissim eges</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Posuere lorem sed ipsum urna facilisis</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Quis eleifend ut sodales sed lectus</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Integer felis eu ipsum malesuada luctus</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Sed pharetra eleifend ante vitae fermen</span></div>
      </div>
   </div>
   <div class="col- footer">
      <h3 class="footer-header">CUSTOM TEXT WIDGET</h3>
      <div class="footer-content-container"><span>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus. Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta.</span></div>
   </div>
   <div class="col- footer">
      <h3 class="footer-header">RECENT POSTS</h3>
      <div class="footer-content-container">
         <div><span class="footer-arrows">»</span><span class="footer-content">Fusce suscipit sapien sit amet</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Sapien placerat ultrices vivamus sed</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Massa ac metus gravida dignissim eges</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Posuere lorem sed ipsum urna facilisis</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Quis eleifend ut sodales sed lectus</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Integer felis eu ipsum malesuada luctus</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Sed pharetra eleifend ante vitae fermen</span></div>
      </div>
   </div>
   <div class="col- footer">
      <h3 class="footer-header">ARCHIVES</h3>
      <div class="footer-content-container">
         <div><span class="footer-arrows">»</span><span class="footer-content">Fusce suscipit sapien sit amet</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Sapien placerat ultrices vivamus sed</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Massa ac metus gravida dignissim eges</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Posuere lorem sed ipsum urna facilisis</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Quis eleifend ut sodales sed lectus</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Integer felis eu ipsum malesuada luctus</span></div>
         <div><span class="footer-arrows">»</span><span class="footer-content">Sed pharetra eleifend ante vitae fermen</span></div>
      </div>
   </div>
</div>